
<!-- Content Header (Page header) -->

<small>
  <!-- Main content -->

  <div class="card ">
    <div class="card-header">
      <h2 class="card-title text-bold">Détails de la Pompe Alimentaire</h2> <i
      class="far fa-file-alt ml-3 fa-lg mt-1 text-info"></i>
    </div>


    <div class="card-body">
      <table class="table table-bordered table-responsive table-hover text-center  ">
        <thead>
        <tr>
          <th class="align-middle table-info table-border">Date d'acquisition</th>
          <th class="align-middle table-info table-border">Prix d'acquisition</th>
          <th class="align-middle table-info table-border">Puissance électrique</th>
          <th class="align-middle table-info table-border">Etat</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="
                let g of pompeAlimentaireService.PompeAlimentaireList | paginate
                : {
                    id: 'Pagination',
                    itemsPerPage: 5,
                    currentPage: p
                  }" class="sizeText">
          <td class="align-middle table-border">{{g.dateAcquisition | date: "dd/MM/yyyy"}}</td>
          <td class="align-middle table-border">{{g.prixAcquisition}}</td>
          <td class="align-middle table-border">{{g.puissanceElectrique}}</td>
          <td class="align-middle table-border" *ngIf="g.etat==0">Marche</td>
          <td class="align-middle table-border" *ngIf="g.etat==1">Arrêt de production</td>
          <td class="align-middle table-border" *ngIf="g.etat==2">Panne</td>
          <td class="align-middle table-border" *ngIf="g.etat==3">Réservé</td>
          <td class="align-middle table-border" *ngIf="g.etat==4">Réforme</td>

          <td >
            <div class="row">
              <div class="col-md-3">
                <button (click)="openComponentForUpdate(g)" class="btn-sm btn-info rounded mr-5"> <span
                  class="fas fa-wrench  text-white"></span></button>
              </div>
              <div class="col-md-3">
                <button (click)="OnDelete(g.composantId)" class="btn-sm btn-danger rounded "><span
                  class="fas fa-trash-alt  text-white"></span> </button>
              </div>

            </div>

          </td>
        </tr>
        <tr>
        </tr>
        </tbody>
      </table>

    </div>
    <pagination-controls id="Pagination" class="my-pagination" (pageChange)="p = $event"
                         previousLabel="Prec " nextLabel="Suiv ">
    </pagination-controls>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->

</small>


