<div class="modal-header ">
    <h3 *ngIf=" corpsDeChauffeService.AddOrUpdateForm.controls.composantId.value =='00000000-0000-0000-0000-000000000000'" class="modal-title pull-left text-info ml-3 mt-2">
        Ajout d'un corps de chauffe</h3>


    <h3 *ngIf=" corpsDeChauffeService.AddOrUpdateForm.controls.composantId.value !='00000000-0000-0000-0000-000000000000'" class="modal-title pull-left text-info ml-3 mt-2">
        Modification d'un corps de chauffe</h3>
    <h6> <span class="badge badge-light">
            {{chaudiere?.libelleChaudiere}}
        </span></h6>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="container">

        <form [formGroup]="corpsDeChauffeService.AddOrUpdateForm">
            <div class="row">


                <div class="col col-md-4">

                    <div class="form-group">
                        <label>Marque :</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-bolt text-info"></i></span>
                            </div>

                            <input type="text" class="form-control" formControlName="marque" placeholder="Marque">

                        </div>
                    </div>


                    <div class="form-group">
                        <label>Modèle :</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-bolt text-info"></i></span>
                            </div>

                            <input type="text" class="form-control" formControlName="modele" placeholder="Modèle">

                        </div>
                    </div>

                    <div class="form-group">
                        <label>Année de fabrication :</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-bolt text-info"></i></span>
                            </div>

                            <input type="number" class="form-control" formControlName="dateFabrication" placeholder="Année de fabrication">

                        </div>
                    </div>

                    <div class="form-group">
                        <label>Date d'acquisition :</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-bolt text-info"></i></span>
                            </div>

                            <input type="date" class="form-control" [value]="corpsDeChauffeService.AddOrUpdateForm.get('dateAcquisition').value | date:'yyyy-MM-dd'" formControlName="dateAcquisition" placeholder="Date d'acquisition">

                        </div>
                    </div>

                </div>

                <div class="col col-md-4">
                    <div class="form-group">
                        <label>Puissance thermique :</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="far fa-calendar-alt text-info"></i></span>
                            </div>

                            <input type="number" class="form-control" formControlName="puissanceThermique" placeholder="Puissance thermique">

                        </div>
                    </div>

                    <div class="form-group">
                        <label>Température de travail :</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="far fa-calendar-alt text-info"></i></span>
                            </div>

                            <input type="number" class="form-control" formControlName="temperatureTravail" placeholder="Température de travail">

                        </div>
                    </div>

                    <div class="form-group">
                        <label>Pression de service :</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="far fa-calendar-alt text-info"></i></span>
                            </div>
                            <input type="number" class="form-control" formControlName="pressionService" placeholder="Pression de service">
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Pression timbre :</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="far fa-calendar-alt text-info"></i></span>
                            </div>

                            <input type="number" class="form-control" formControlName="pressionTimbre" placeholder="Pression timbre">

                        </div>
                    </div>
                </div>
                <div class="col col-md-4">

                    <div class="form-group">
                        <label>Débit de la vapeur :</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="far fa-calendar-alt text-info"></i></span>
                            </div>
                            <input type="number" class="form-control" formControlName="debitVapeur" placeholder="Débit de la vapeur">
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Prix d'acquisition :</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="far fa-calendar-alt text-info"></i></span>
                            </div>
                            <input type="number" class="form-control" formControlName="prixAcquisition" placeholder="Prix d'acquisition">
                        </div>
                    </div>


                    <div class="form-group ">
                        <label>Etat :</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-th-list text-info"></i></span>
                            </div>
                            <select class="form-control " formControlName="etat">
                                <option value="" selected>
                                </option>
                                <option value="0">Marche</option>
                                <option value="1">Arrêt de production</option>
                                <option value="2">Panne</option>
                                <option value="3">Réservé</option>
                                <option value="4">Réforme</option>
                            </select>
                        </div>
                    </div>



                    <div class="form-group ">
                        <label>Economiseur :</label>
                        <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                            <input type="checkbox" class="custom-control-input" formControlName="economiseur" id="customSwitch3" [(checked)]="corpsDeChauffeService.AddOrUpdateForm.controls.economiseur.value">
                            <label class="custom-control-label" for="customSwitch3"></label>
                        </div>
                    </div>












                </div>
            </div>
        </form>

    </div>
</div>
<div class="modal-footer">
    <button type="button" class=" btn btn-info col-2 mr-2 " (click)="onSubmit()"><i class="fas fa-check"></i>
        Valider</button>
</div>