<div class="content-wrapper" style="min-height: 1200.88px;">
    <!-- Content Header (Page header) -->
    <section class="content-header ">
        <div class="container-fluid ">
            <div class=" mb-2  ">
                <div class="card " style="background-color:rgb(13, 184, 214); height: 55px;">
                    <div class="card-header">
                        <small>

                        </small>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <div class="rgba-black-strong">
        <div class="row d-flex justify-content-center">
            <div class="col-md-12 col-xl-8">

                <!--Accordion wrapper-->
                <div class="accordion md-accordion accordion-5" id="accordionEx5" role="tablist" aria-multiselectable="true">

                    <!-- Accordion card -->
                    <div class="card mb-4">

                        <!-- Card header -->
                        <div class="card-header p-0 z-depth-1" role="tab" id="heading30">
                            <a data-toggle="collapse" data-parent="#accordionEx5" href="#collapse30" aria-expanded="true" aria-controls="collapse30">
                                <i class="far fa-building fa-2x p-3 mr-4 float-left black-text" aria-hidden="true"></i>
                                <h4 class=" white-text mb-0 py-3 mt-1">
                                    Filiales
                                </h4>
                            </a>
                        </div>

                        <!-- Card body -->
                        <div id="collapse30" class="collapse show" role="tabpanel" aria-labelledby="heading30" data-parent="#accordionEx5">
                            <div class="card-body rgba-black-light white-text z-depth-1">
                                <p class="p-md-4 mb-0">
                                    <app-filiale-get-delete></app-filiale-get-delete>
                            </div>
                        </div>
                    </div>
                    <!-- Accordion card -->

                    <!-- Accordion card -->
                    <div class="card mb-4">

                        <!-- Card header -->
                        <div class="card-header p-0 z-depth-1" role="tab" id="heading31">
                            <a data-toggle="collapse" data-parent="#accordionEx5" href="#collapse31" aria-expanded="true" aria-controls="collapse31">
                                <i class="fas fa-th-list fa-2x p-3 mr-4 float-left black-text" aria-hidden="true"></i>
                                <h4 class=" white-text mb-0 py-3 mt-1">
                                    Types de chaudières
                                </h4>
                            </a>
                        </div>

                        <!-- Card body -->
                        <div id="collapse31" class="collapse" role="tabpanel" aria-labelledby="heading31" data-parent="#accordionEx5">
                            <div class="card-body rgba-black-light white-text z-depth-1">
                                <p class="p-md-4 mb-0">
                                    <app-type-chaudiere-get-delete></app-type-chaudiere-get-delete>
                            </div>
                        </div>
                    </div>
                    <!-- Accordion card -->

                    <!-- Accordion card -->
                    <div class="card mb-4">

                        <!-- Card header -->
                        <div class="card-header p-0 z-depth-1" role="tab" id="heading32">
                            <a data-toggle="collapse" data-parent="#accordionEx5" href="#collapse32" aria-expanded="true" aria-controls="collapse32">
                                <i class="fas fa-weight fa-2x p-3 mr-4 float-left black-text" aria-hidden="true"></i>
                                <h4 class=" white-text mb-0 py-3 mt-1">
                                    Unités
                                </h4>
                            </a>
                        </div>

                        <!-- Card body -->
                        <div id="collapse32" class="collapse" role="tabpanel" aria-labelledby="heading32" data-parent="#accordionEx5">
                            <div class="card-body rgba-black-light white-text z-depth-1">
                                <p class="p-md-4 mb-0">
                                    <app-unite-get-delete></app-unite-get-delete>
                            </div>
                        </div>
                    </div>
                    <!-- Accordion card -->

                </div>
                <!--/.Accordion wrapper-->

            </div>
        </div>
    </div>






</div>