<div class="content-wrapper" style="min-height: 1200.88px;">
    <!-- Content Header (Page header) -->
    <section class="content-header ">
        <div class="container-fluid ">
            <div class=" mb-2  ">
                <!-- <div class="card " style="background-color:rgb(13, 184, 214); height: 55px;">
                    <div class="card-header">
                        <small>

                        </small>
                    </div>
                </div> -->
            </div>
        </div>
    </section>
    <div class="row" style="height: 587px;">
        <div class=" col-md-7 ml-auto ">
            <app-chaudiere-get-delete> </app-chaudiere-get-delete>
        </div>
        <div class="  mr-auto">
            <app-composant-get-delete></app-composant-get-delete>
        </div>

    </div>







</div>