<div class="modal-header ">
  <h3
    *ngIf=" fsVapeurService.AddOrUpdateFsVapeurForm.controls.ficheSuiviId.value =='00000000-0000-0000-0000-000000000000'"
    class="modal-title pull-left text-info ml-3 mt-2">Ajout de fiche de suivi journalier</h3>
  <h3
    *ngIf=" fsVapeurService.AddOrUpdateFsVapeurForm.controls.ficheSuiviId.value !='00000000-0000-0000-0000-000000000000'"
    class="modal-title pull-left text-info ml-3 mt-2">Modification de fiche de suivi journalier</h3>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body CustomFicheSuivi">
  <div class="container">

    <form [formGroup]="fsVapeurService.AddOrUpdateFsVapeurForm">
      <div class="row">
        <div class="col">

          <div class="form-group">
            <label for="">Chaudiére en marche</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-chevron-circle-down text-info"></i></span>
              </div>
            
            <select class="form-control " formControlName="fkChaudiere" [class.is-invalid]="fsVapeurService.AddOrUpdateFsVapeurForm.controls.fkChaudiere.errors?.required &&
            fsVapeurService.AddOrUpdateFsVapeurForm.controls.fkChaudiere.touched ">
              <option value="" disabled selected>Sélectionnez chaudiére 
              <option *ngFor=" let Ch of ListChaudiere" [value]="Ch.chaudiereId">{{Ch.marqueCorpsDeChauffe}} {{Ch.numero}}</option>
            </select>
            </div>
          </div>
          <div class="form-group mt-3">
            <label>Date de saisie :</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="far fa-calendar-alt text-info"></i></span>
              </div>
              <input type="date" class="form-control"
                [value]="fsVapeurService.AddOrUpdateFsVapeurForm.controls.dateSaisie.value | date: 'yyyy-MM-dd' "
                formControlName="dateSaisie" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy"
                data-mask="" im-insert="false" [class.is-invalid]="fsVapeurService.AddOrUpdateFsVapeurForm.controls.dateSaisie.errors?.required &&
                fsVapeurService.AddOrUpdateFsVapeurForm.controls.dateSaisie.touched ">
            </div>
          </div>
          <div class="form-group ">
            <label>Production filiale :</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-sort-numeric-down text-info"></i></span>
              </div>
              <input type="number" class="form-control" formControlName="productionUsine"
                placeholder="Production filiale" [class.is-invalid]="fsVapeurService.AddOrUpdateFsVapeurForm.controls.productionUsine.errors?.required &&
                fsVapeurService.AddOrUpdateFsVapeurForm.controls.productionUsine.touched || fsVapeurService.AddOrUpdateFsVapeurForm.controls.productionUsine.errors?.min">
            </div>
          </div>
          <div class="form-group ">
            <div class="custom-control custom-checkbox" tooltip="Désactivez cette case en cas d'abscence du compteur" >
              <input type="checkbox" [checked]="IndexProductionChecked" class="custom-control-input" id="customCheck1" (change)="OnCheckIndexProduction($event.target.checked)">
              <label class="custom-control-label" for="customCheck1">Index de production :</label>
            </div>
            <div class="input-group mt-2">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-sort-numeric-down text-info"></i></span>
              </div>
              <input [attr.disabled]="IndexProductionChecked == false ? true : null" type="number" class="form-control" formControlName="indexVapeur"
                placeholder="Index vapeur" [class.is-invalid]=" fsVapeurService.AddOrUpdateFsVapeurForm.controls.indexVapeur.errors?.required &&
                fsVapeurService.AddOrUpdateFsVapeurForm.controls.indexVapeur.touched || fsVapeurService.AddOrUpdateFsVapeurForm.controls.indexVapeur.errors?.min">
                <div class="input-group-append" 
                tooltip="Cochez cette case si le compteur est remis à 0" placement="bottom">
                  <span class="input-group-text text-warning">
                    <input  type="checkbox" (change)="OnchangeCompteurProduction($event.target.checked)">
                  </span>
                </div>
              </div>
          </div>
          <div class="form-group ">
            <div class="custom-control custom-checkbox" tooltip="Désactivez cette case en cas d'abscence du compteur" >
              <input type="checkbox" [checked]="IndexEauChecked" class="custom-control-input" id="customCheck2" (change)="OnCheckIndexEau($event.target.checked)">
              <label class="custom-control-label" for="customCheck2">Index eau :</label>
            </div>
            <div class="input-group mt-2">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-sort-numeric-down text-info"></i></span>
              </div>
              <input [attr.disabled]="IndexEauChecked == false ? true : null" type="number" class="form-control" formControlName="indexEauAdoucie" placeholder="Index eau" [class.is-invalid]="fsVapeurService.AddOrUpdateFsVapeurForm.controls.indexEauAdoucie.errors?.required &&
              fsVapeurService.AddOrUpdateFsVapeurForm.controls.indexEauAdoucie.touched || fsVapeurService.AddOrUpdateFsVapeurForm.controls.indexEauAdoucie.errors?.min">
              <div class="input-group-append" 
              tooltip="Cochez cette case si le compteur est remis à 0" placement="bottom">
                <span class="input-group-text text-warning">
                  <input  type="checkbox" (change)="OnchangeCompteurEau($event.target.checked)">
                </span>
              </div>
            </div>
          </div>
          <div class="form-group ">
            <div class="custom-control custom-checkbox" tooltip="Désactivez cette case en cas d'abscence du compteur" >
              <input type="checkbox" [checked]="IndexCombustibleChecked" class="custom-control-input" id="customCheck4" (change)="OnCheckIndexCombustible($event.target.checked)">
              <label class="custom-control-label" for="customCheck4">Index combustible :</label>
            </div>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-sort-numeric-down text-info"></i></span>
              </div>
              <input [attr.disabled]="IndexCombustibleChecked == false ? true : null" type="number" class="form-control" formControlName="indexCombustible" placeholder="Index combustible" [class.is-invalid]="fsVapeurService.AddOrUpdateFsVapeurForm.controls.indexCombustible.errors?.required &&
              fsVapeurService.AddOrUpdateFsVapeurForm.controls.indexCombustible.touched || fsVapeurService.AddOrUpdateFsVapeurForm.controls.indexCombustible.errors?.min">
              <div class="input-group-append" 
              tooltip="Cochez cette case si le compteur est remis à 0" placement="bottom">
                <span class="input-group-text text-warning">
                  <input  type="checkbox" (change)="OnchangeCompteurCombustible($event.target.checked)">
                </span>
              </div>
            </div>
          </div>
          <div class="form-group ">
            <label>Unité combustible :</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-chevron-circle-down text-info"></i></span>
              </div>
              <select type="number" class="form-control" formControlName="uniteCombustible"  [class.is-invalid]="fsVapeurService.AddOrUpdateFsVapeurForm.controls.uniteCombustible.errors?.required &&
              fsVapeurService.AddOrUpdateFsVapeurForm.controls.uniteCombustible.touched || fsVapeurService.AddOrUpdateFsVapeurForm.controls.uniteCombustible.errors?.min">
              <option value="" disabled selected>Sélectionnez unité
              </option>
              <option *ngFor=" let d of ListUniteCombustible" [value]="d.value">{{d.text}}</option>
            </select>
            </div>
          </div>
          <div class="form-group ">
            <div class="custom-control custom-checkbox" tooltip="Désactivez cette case en cas d'abscence du compteur" >
              <input type="checkbox" [checked]="IndexElectriciteChecked" class="custom-control-input" id="customCheck3" (change)="OnCheckIndexElectricite($event.target.checked)">
              <label class="custom-control-label" for="customCheck3">Index d'électricité :</label>
            </div>
            <div class="input-group mt-2">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-sort-numeric-down text-info"></i></span>
              </div>
              <input [attr.disabled]="IndexElectriciteChecked == false ? true : null" type="number" class="form-control" formControlName="indexElectricite" placeholder="Index d'électricité" [class.is-invalid]="fsVapeurService.AddOrUpdateFsVapeurForm.controls.indexElectricite.errors?.required &&
              fsVapeurService.AddOrUpdateFsVapeurForm.controls.indexElectricite.touched || fsVapeurService.AddOrUpdateFsVapeurForm.controls.indexElectricite.errors?.min">
              <div class="input-group-append"  tooltip="Cochez cette case si le compteur est remis à 0" placement="bottom" >
                <span class="input-group-text text-warning">
                  <input  type="checkbox" (change)="OnchangeCompteurElectricite($event.target.checked)">
                </span>
              </div>
            </div>
          </div>
        
        </div>
        <div class="col">
          <div class="form-group ">
            <label>Température de fumée : </label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-temperature-high text-info"></i></span>
              </div>
              <input type="number" class="form-control" formControlName="temperatureFumee"
                placeholder="Température de fumée" [class.is-invalid]="fsVapeurService.AddOrUpdateFsVapeurForm.controls.temperatureFumee.errors?.required &&
                fsVapeurService.AddOrUpdateFsVapeurForm.controls.temperatureFumee.touched">
            </div>
          </div>
          <div class="form-group ">
            <label>TH (chaudière) :</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-tint text-info"></i></span>
              </div>
              <input type="number" class="form-control" formControlName="tH_Eau_Chaudiere" placeholder="TH"
                [class.is-invalid]="fsVapeurService.AddOrUpdateFsVapeurForm.controls.tH_Eau_Chaudiere.errors?.required &&
                fsVapeurService.AddOrUpdateFsVapeurForm.controls.tH_Eau_Chaudiere.touched || fsVapeurService.AddOrUpdateFsVapeurForm.controls.tH_Eau_Chaudiere.errors?.min">
            </div>
          </div>
          <div class="form-group ">
            <label>PH (chaudière) :</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-tint text-info"></i></span>
              </div>
              <input type="number" class="form-control" formControlName="pH_Eau_Chaudiere" placeholder="PH" [class.is-invalid]="fsVapeurService.AddOrUpdateFsVapeurForm.controls.pH_Eau_Chaudiere.errors?.required &&
              fsVapeurService.AddOrUpdateFsVapeurForm.controls.pH_Eau_Chaudiere.touched || fsVapeurService.AddOrUpdateFsVapeurForm.controls.pH_Eau_Chaudiere.errors?.min 
              ||fsVapeurService.AddOrUpdateFsVapeurForm.controls.pH_Eau_Chaudiere.errors?.max">
            </div>
          </div>
          <div class="form-group ">
            <label>Conductivité (chaudière) :</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="far fa-lightbulb text-info"></i></span>
              </div>
              <input type="number" class="form-control" formControlName="conductivite_Eau_Chaudiere" placeholder="Conductivité" [class.is-invalid]="fsVapeurService.AddOrUpdateFsVapeurForm.controls.conductivite_Eau_Chaudiere.errors?.required &&
              fsVapeurService.AddOrUpdateFsVapeurForm.controls.conductivite_Eau_Chaudiere.touched || fsVapeurService.AddOrUpdateFsVapeurForm.controls.conductivite_Eau_Chaudiere.errors?.min">
            </div>
          </div>
          <div class="form-group ">
            <label>T. (bâche alimentaire) : </label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-temperature-high text-info"></i></span>
              </div>
              <input type="number" class="form-control" formControlName="temperatureBacheAlimentaire"
                placeholder="Température de fumée" [class.is-invalid]="fsVapeurService.AddOrUpdateFsVapeurForm.controls.temperatureBacheAlimentaire.errors?.required &&
                fsVapeurService.AddOrUpdateFsVapeurForm.controls.temperatureBacheAlimentaire.touched">
            </div>
          </div>

          <div class="form-group ">
            <label>TH (bâche alimentaire) :</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-tint text-info"></i></span>
              </div>
              <input type="number" class="form-control" formControlName="tH_Eau_BacheAlimentaire" placeholder="TH"
                [class.is-invalid]="fsVapeurService.AddOrUpdateFsVapeurForm.controls.tH_Eau_BacheAlimentaire.errors?.required &&
                fsVapeurService.AddOrUpdateFsVapeurForm.controls.tH_Eau_BacheAlimentaire.touched || fsVapeurService.AddOrUpdateFsVapeurForm.controls.tH_Eau_BacheAlimentaire.errors?.min">
            </div>
          </div>

          <div class="form-group ">
            <label>PH (bâche alimentaire) :</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-tint text-info"></i></span>
              </div>
              <input type="number" class="form-control" formControlName="pH_Eau_BacheAlimentaire" placeholder="PH" [class.is-invalid]="fsVapeurService.AddOrUpdateFsVapeurForm.controls.pH_Eau_BacheAlimentaire.errors?.required &&
              fsVapeurService.AddOrUpdateFsVapeurForm.controls.pH_Eau_BacheAlimentaire.touched 
              || fsVapeurService.AddOrUpdateFsVapeurForm.controls.pH_Eau_BacheAlimentaire.errors?.min || fsVapeurService.AddOrUpdateFsVapeurForm.controls.pH_Eau_BacheAlimentaire.errors?.max">
            </div>
          </div>
          <div class="form-group ">
            <label>Con. (bâche alimentaire) :</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="far fa-lightbulb text-info"></i></span>
              </div>
              <input type="number" class="form-control" formControlName="conductivite_Eau_BacheAlimentaire" placeholder="Conductivité" [class.is-invalid]="fsVapeurService.AddOrUpdateFsVapeurForm.controls.conductivite_Eau_BacheAlimentaire.errors?.required &&
              fsVapeurService.AddOrUpdateFsVapeurForm.controls.conductivite_Eau_BacheAlimentaire.touched || fsVapeurService.AddOrUpdateFsVapeurForm.controls.conductivite_Eau_BacheAlimentaire.errors?.min">
            </div>
          </div>
        </div>
        <div class="col">
        

          <div class="form-group ">
            <label>TH entrée (eau adoucie):</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-tint text-info"></i></span>
              </div>
              <input type="number" class="form-control" formControlName="tHe_Eau_Adoucie" placeholder="TH entrée"
                [class.is-invalid]="fsVapeurService.AddOrUpdateFsVapeurForm.controls.tHe_Eau_Adoucie.errors?.required &&
                fsVapeurService.AddOrUpdateFsVapeurForm.controls.tHe_Eau_Adoucie.touched || fsVapeurService.AddOrUpdateFsVapeurForm.controls.tHe_Eau_Adoucie.errors?.min">
            </div>
          </div>
          <div class="form-group ">
            <label>TH sortie (eau adoucie):</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-tint text-info"></i></span>
              </div>
              <input type="number" class="form-control" formControlName="tHs_Eau_Adoucie" placeholder="TH sortie"
                [class.is-invalid]="fsVapeurService.AddOrUpdateFsVapeurForm.controls.tHs_Eau_Adoucie.errors?.required &&
                fsVapeurService.AddOrUpdateFsVapeurForm.controls.tHs_Eau_Adoucie.touched || fsVapeurService.AddOrUpdateFsVapeurForm.controls.tHs_Eau_Adoucie.errors?.min">
            </div>
          </div>

          <div class="form-group ">
            <label>PH (eau adoucie):</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-tint text-info"></i></span>
              </div>
              <input type="number" class="form-control" formControlName="pH_Eau_Adoucie" placeholder="PH"
                [class.is-invalid]="fsVapeurService.AddOrUpdateFsVapeurForm.controls.pH_Eau_Adoucie.errors?.required &&
                fsVapeurService.AddOrUpdateFsVapeurForm.controls.pH_Eau_Adoucie.touched || fsVapeurService.AddOrUpdateFsVapeurForm.controls.pH_Eau_Adoucie.errors?.min 
                || fsVapeurService.AddOrUpdateFsVapeurForm.controls.pH_Eau_Adoucie.errors?.max  ">
            </div>
          </div>
          <div class="form-group ">
            <label>Conductivité (eau adoucie):</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="far fa-lightbulb text-info"></i></span>
              </div>
              <input type="number" class="form-control" formControlName="conductivite_Eau_Adoucie" placeholder="Conductivité"
                [class.is-invalid]="fsVapeurService.AddOrUpdateFsVapeurForm.controls.conductivite_Eau_Adoucie.errors?.required &&
              fsVapeurService.AddOrUpdateFsVapeurForm.controls.conductivite_Eau_Adoucie.touched || fsVapeurService.AddOrUpdateFsVapeurForm.controls.conductivite_Eau_Adoucie.errors?.min">
            </div>
          </div>
          <div class="form-group ">
            <label>PH (E. retour condensat):</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-tint text-info"></i></span>
              </div>
              <input type="number" class="form-control" formControlName="ph_RetourCondensat" placeholder="PH"
                [class.is-invalid]="fsVapeurService.AddOrUpdateFsVapeurForm.controls.ph_RetourCondensat.errors?.required &&
                fsVapeurService.AddOrUpdateFsVapeurForm.controls.ph_RetourCondensat.touched || fsVapeurService.AddOrUpdateFsVapeurForm.controls.ph_RetourCondensat.errors?.min || 
                fsVapeurService.AddOrUpdateFsVapeurForm.controls.ph_RetourCondensat.errors?.max">
            </div>
          </div>
          <div class="form-group ">
            <label>Con. (E. retour condensat):</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="far fa-lightbulb text-info"></i></span>
              </div>
              <input type="number" class="form-control" formControlName="conductivite_RetourCondensat" placeholder="Conductivité"
                [class.is-invalid]="fsVapeurService.AddOrUpdateFsVapeurForm.controls.conductivite_RetourCondensat.errors?.required &&
              fsVapeurService.AddOrUpdateFsVapeurForm.controls.conductivite_RetourCondensat.touched || fsVapeurService.AddOrUpdateFsVapeurForm.controls.conductivite_RetourCondensat.errors?.min">
            </div>
          </div>
          <div class="form-group">
            <label>Commentaire :</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="far fa-comment-alt text-info"></i></span>
              </div>
              <textarea rows="1" type="text" class="form-control" formControlName="commentaire"
                placeholder="commentaire" [class.is-invalid]="fsVapeurService.AddOrUpdateFsVapeurForm.controls.commentaire.errors?.required &&
                fsVapeurService.AddOrUpdateFsVapeurForm.controls.commentaire.touched"></textarea>
            </div>
          </div>
        </div> 
      </div>
      <i class="text-success"> NB: - Cochez les cases des champs index si le compteur est remis à 0 <br>
         &nbsp; &nbsp; &nbsp;   - Désactivez les champs index en cas d'abscence du compteur</i>
    </form>

  </div>
</div>
<div class="modal-footer">
  <p class="mr-auto ml-3" style="color:red" *ngIf="
  fsVapeurService.AddOrUpdateFsVapeurForm.controls.pH_Eau_Chaudiere.errors?.max ||  fsVapeurService.AddOrUpdateFsVapeurForm.controls.pH_Eau_BacheAlimentaire.errors?.max ||
  fsVapeurService.AddOrUpdateFsVapeurForm.controls.pH_Eau_Adoucie.errors?.max || fsVapeurService.AddOrUpdateFsVapeurForm.controls.ph_RetourCondensat.errors?.max
  
  ">
    PH ne dépasse pas 14
  </p>
  <p class="mr-auto ml-3" style="color:red" *ngIf="
  fsVapeurService.AddOrUpdateFsVapeurForm.controls.productionUsine.errors?.min|| fsVapeurService.AddOrUpdateFsVapeurForm.controls.indexElectricite.errors?.min|| fsVapeurService.AddOrUpdateFsVapeurForm.controls.indexVapeur.errors?.min || fsVapeurService.AddOrUpdateFsVapeurForm.controls.indexCombustible.errors?.min ||
fsVapeurService.AddOrUpdateFsVapeurForm.controls.indexEauAdoucie.errors?.min || fsVapeurService.AddOrUpdateFsVapeurForm.controls.tH_Eau_Chaudiere.errors?.min ||
fsVapeurService.AddOrUpdateFsVapeurForm.controls.conductivite_Eau_Chaudiere.errors?.min || fsVapeurService.AddOrUpdateFsVapeurForm.controls.tH_Eau_BacheAlimentaire.errors?.min ||
fsVapeurService.AddOrUpdateFsVapeurForm.controls.conductivite_Eau_BacheAlimentaire.errors?.min || fsVapeurService.AddOrUpdateFsVapeurForm.controls.tHe_Eau_Adoucie.errors?.min ||
fsVapeurService.AddOrUpdateFsVapeurForm.controls.tHs_Eau_Adoucie.errors?.min || fsVapeurService.AddOrUpdateFsVapeurForm.controls.conductivite_Eau_Adoucie.errors?.min ||
fsVapeurService.AddOrUpdateFsVapeurForm.controls.conductivite_RetourCondensat.errors?.min || fsVapeurService.AddOrUpdateFsVapeurForm.controls.pH_Eau_Chaudiere.errors?.min ||  fsVapeurService.AddOrUpdateFsVapeurForm.controls.pH_Eau_BacheAlimentaire.errors?.min ||
fsVapeurService.AddOrUpdateFsVapeurForm.controls.pH_Eau_Adoucie.errors?.min || fsVapeurService.AddOrUpdateFsVapeurForm.controls.ph_RetourCondensat.errors?.min
">
    Champs n'accepte pas une valeur négative
  </p>
  <button type="button" class=" btn btn-info col-2 mr-2 " (click)="onSubmit()"
    [disabled]="fsVapeurService.AddOrUpdateFsVapeurForm.invalid"><i class="fas fa-check"></i>
    Valider</button>
</div>