<!-- Content Header (Page header) -->

<small>
  <!-- Main content -->

  <div class="card shadow ">

    <div class="card-header">
      <h2 class="card-title text-bold">Liste des chaudières</h2> <i
        class="far fa-file-alt ml-3 fa-lg mt-1 text-info"></i>
    </div>


    <div class="card-body">
      <div class="row">
        <div class="col-4">
          <button type="button" class="btn  mb-2 text-white float-left" (click)="openComponentForPost()"
            style="background-color:rgb(13, 184, 214); "> <i class="fas fa-plus-circle "></i> Ajouter</button>
        </div>


        <div class="col-4 ml-auto">
          <form [formGroup]="SearchByFilialeForm">
            <div class="input-group ">


              <mat-form-field>
                <mat-label>Filiale</mat-label>
                <input type="text" matInput formControlName="filiale" list="data.list">
                <datalist id="data.list">
                  <select class="form-control">
                    <option *ngFor="let subsidiary of chaudiereService.FilialeListParam" [value]="subsidiary.label">
                    </option>
                  </select>
                </datalist>
              </mat-form-field>

            </div>
          </form>
        </div>
      </div>

      <table class="table table-bordered  table-hover text-center">
        <thead>
          <tr>

            <th class="align-middle table-info table-border ">

              Marque

            </th>
            <th class="align-middle table-info table-border ">N°</th>
            <th class="align-middle table-info table-border ">Type</th>
            <th class="align-middle table-info table-border ">Type Chaudière</th>
            <th class="align-middle table-info table-border ">Filiale</th>
            <th class="align-middle table-info table-border ">Unité</th>
            <th class="align-middle table-info table-border w-25">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="
                let g of chaudiereService.ListChaudiereForGet | filterFS : SearchByFilialeForm.value | paginate
                : {
                    id: 'Pagination',
                    itemsPerPage: 5,
                    currentPage: p
                  }" class="sizeText ">
            <td class="align-middle table-border ">{{g?.marqueCorpsDeChauffe}}
            </td>
            <td class="align-middle table-border ">
              <h5>
                <span class="badge badge-info  align-middle" tooltip="Numéro de la chaudière">
                  {{g.numero}}
                </span>
              </h5>
            </td>
            <td class="align-middle table-border " *ngIf="g.type==0">Principale</td>
            <td class="align-middle table-border " *ngIf="g.type==1">Secours</td>
            <td class="align-middle table-border ">{{g.typeChaudiere}}</td>
            <td class="align-middle table-border ">{{g.filiale}}</td>
            <td class="align-middle table-border ">{{g.unite}}</td>
            <td class="align-middle table-border ">
              <div class="row">
                <div class="m-auto">
                  <button (click)="openComponentForUpdate(g.chaudiereId)" class="btn-sm btn-info rounded "> <span
                      class="fas fa-wrench  text-white"></span></button>
                </div>
                <div class=" m-auto">
                  <button (click)="OnDelete(g.chaudiereId)" class="btn-sm btn-danger rounded "><span
                      class="fas fa-trash-alt  text-white"></span> </button>
                </div>
                <div class=" m-auto">
                  <button (click)="sendEvent(g.chaudiereId)" class="btn-sm btn-info rounded "
                    tooltip="Consulter les composants de la chaudière" placement="right"> <span>
                      <i class="fas fa-eye"></i></span></button>
                </div>
              </div>

            </td>
          </tr>
          <tr>
          </tr>
        </tbody>
      </table>

    </div>
    <pagination-controls id="Pagination" class="my-pagination" (pageChange)="p = $event" previousLabel="Prec "
      nextLabel="Suiv ">
    </pagination-controls>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->

</small>