<div class="modal-header ">
  <h3 *ngIf=" fsHuileThermiqueService.AddOrUpdateFsHuileThermiqueForm.controls.ficheSuiviId.value =='00000000-0000-0000-0000-000000000000'" class="modal-title pull-left text-info ml-3 mt-2">Ajout de fiche de suivi journalier</h3>
  <h3 *ngIf=" fsHuileThermiqueService.AddOrUpdateFsHuileThermiqueForm.controls.ficheSuiviId.value !='00000000-0000-0000-0000-000000000000'" class="modal-title pull-left text-info ml-3 mt-2">Modification de fiche de suivi journalier</h3>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body CustomFicheSuivi">
  <div class="container">

    <form [formGroup]="fsHuileThermiqueService.AddOrUpdateFsHuileThermiqueForm">
      <div class="row">
        <div class="col">

          <div class="form-group">
            <label for="">Chaudiére en marche</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-chevron-circle-down text-info"></i></span>
              </div>
            
            <select class="form-control " formControlName="fkChaudiere" [class.is-invalid]="fsHuileThermiqueService.AddOrUpdateFsHuileThermiqueForm.controls.fkChaudiere.errors?.required &&
            fsHuileThermiqueService.AddOrUpdateFsHuileThermiqueForm.controls.fkChaudiere.touched">
              <option value="" disabled selected>Sélectionnez chaudiére 
              <option *ngFor=" let Ch of ListChaudiere" [value]="Ch.chaudiereId">{{Ch.marqueCorpsDeChauffe}} {{Ch.numero}}</option>
            </select>
            </div>
          </div>
          <div class="form-group mt-3">
            <label>Date de saisie :</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="far fa-calendar-alt text-info"></i></span>
              </div>
              <input type="date" class="form-control"
                [value]="fsHuileThermiqueService.AddOrUpdateFsHuileThermiqueForm.controls.dateSaisie.value | date: 'yyyy-MM-dd' "
                formControlName="dateSaisie" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy"
                data-mask="" im-insert="false" [class.is-invalid]="fsHuileThermiqueService.AddOrUpdateFsHuileThermiqueForm.controls.dateSaisie.errors?.required &&
                fsHuileThermiqueService.AddOrUpdateFsHuileThermiqueForm.controls.dateSaisie.touched">
            </div>
          </div>
          <div class="form-group ">
            <label>Production filiale :</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-sort-numeric-down text-info"></i></span>
              </div>
              <input type="number" class="form-control" formControlName="productionUsine"
                placeholder="Production filiale" [class.is-invalid]="fsHuileThermiqueService.AddOrUpdateFsHuileThermiqueForm.controls.productionUsine.errors?.required &&
                fsHuileThermiqueService.AddOrUpdateFsHuileThermiqueForm.controls.productionUsine.touched || fsHuileThermiqueService.AddOrUpdateFsHuileThermiqueForm.controls.productionUsine.errors?.min">
            </div>
          </div>
          <div class="form-group ">
            <div class="custom-control custom-checkbox" tooltip="Désactivez cette case en cas d'abscence du compteur" >
              <input type="checkbox" [checked]="IndexCombustibleChecked" class="custom-control-input" id="customCheck4" (change)="OnCheckIndexCombustible($event.target.checked)">
              <label class="custom-control-label" for="customCheck4">Index combustible :</label>
            </div>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-sort-numeric-down text-info"></i></span>
              </div>
              <input  [attr.disabled]="IndexCombustibleChecked == false ? true : null" type="number" class="form-control" formControlName="indexCombustibleHT"
                placeholder="Index combustible" [class.is-invalid]="fsHuileThermiqueService.AddOrUpdateFsHuileThermiqueForm.controls.indexCombustibleHT.errors?.required &&
                fsHuileThermiqueService.AddOrUpdateFsHuileThermiqueForm.controls.indexCombustibleHT.touched || fsHuileThermiqueService.AddOrUpdateFsHuileThermiqueForm.controls.indexCombustibleHT.errors?.min">
                <div class="input-group-append" tooltip="Cochez cette case si le compteur est remis à 0" placement="bottom">
                  <span class="input-group-text text-warning">
                    <input  type="checkbox" (change)="OnchangeCompteur($event.target.checked)">
                  </span>
                </div>
              </div>
          </div>
          <div class="form-group ">
            <label>Unité combustible :</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-chevron-circle-down text-info"></i></span>
              </div>
              <select type="number" class="form-control" formControlName="uniteCombustible"  [class.is-invalid]="fsHuileThermiqueService.AddOrUpdateFsHuileThermiqueForm.controls.uniteCombustible.errors?.required &&
              fsHuileThermiqueService.AddOrUpdateFsHuileThermiqueForm.controls.uniteCombustible.touched || fsHuileThermiqueService.AddOrUpdateFsHuileThermiqueForm.controls.uniteCombustible.errors?.min">
              <option value="" disabled selected>Sélectionnez unité
              </option>
              <option *ngFor=" let d of ListUniteCombustible" [value]="d.value">{{d.text}}</option>
            </select>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="form-group ">
            <label>Température de fumée : </label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-temperature-high text-info"></i></span>
              </div>
              <input type="number" class="form-control" formControlName="temperatureFumeeHT"
                placeholder="Température de fumée" [class.is-invalid]="fsHuileThermiqueService.AddOrUpdateFsHuileThermiqueForm.controls.temperatureFumeeHT.errors?.required &&
                fsHuileThermiqueService.AddOrUpdateFsHuileThermiqueForm.controls.temperatureFumeeHT.touched">
            </div>
          </div>
          <div class="form-group ">
            <label>Température de consigne : </label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-temperature-high text-info "></i></span>
              </div>
              <input type="number" class="form-control" formControlName="temperatureConsigneHT"
                placeholder="T de consigne " [class.is-invalid]="fsHuileThermiqueService.AddOrUpdateFsHuileThermiqueForm.controls.temperatureConsigneHT.errors?.required &&
                fsHuileThermiqueService.AddOrUpdateFsHuileThermiqueForm.controls.temperatureConsigneHT.touched">
            </div>
          </div>

          <div class="form-group ">
            <label>T besoin du secondaire :</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-temperature-high text-info"></i></span>
              </div>
              <input type="number" class="form-control" formControlName="temperatureBesoinHT"
                placeholder="Température besoin" [class.is-invalid]="fsHuileThermiqueService.AddOrUpdateFsHuileThermiqueForm.controls.temperatureBesoinHT.errors?.required &&
                fsHuileThermiqueService.AddOrUpdateFsHuileThermiqueForm.controls.temperatureBesoinHT.touched">
            </div>
          </div>
          <div class="form-group ">
            <label>Température départ huile :</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-temperature-high text-info"></i></span>
              </div>
              <input type="number" class="form-control" formControlName="temperatureDepartHuileHT"
                placeholder="Température départ huile" [class.is-invalid]="fsHuileThermiqueService.AddOrUpdateFsHuileThermiqueForm.controls.temperatureDepartHuileHT.errors?.required &&
                fsHuileThermiqueService.AddOrUpdateFsHuileThermiqueForm.controls.temperatureDepartHuileHT.touched">
            </div>
          </div>
          <div class="form-group ">
            <label>Température de retour huile  :</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-temperature-high text-info"></i></span>
              </div>
              <input type="number" class="form-control" formControlName="temperatureRetourHuileHT"
                placeholder="Température de retour huile " [class.is-invalid]="fsHuileThermiqueService.AddOrUpdateFsHuileThermiqueForm.controls.temperatureRetourHuileHT.errors?.required &&
                fsHuileThermiqueService.AddOrUpdateFsHuileThermiqueForm.controls.temperatureRetourHuileHT.touched">
            </div>
          </div>
        </div>
        <div class="col">
          <div class="form-group ">
            <label>Pression entrée primaire :</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-tachometer-alt text-info"></i></span>
              </div>
              <input type="number" class="form-control" formControlName="pressionEntreePrimaireHT" placeholder="Pression entrée primaire" [class.is-invalid]="fsHuileThermiqueService.AddOrUpdateFsHuileThermiqueForm.controls.pressionEntreePrimaireHT.errors?.required &&
              fsHuileThermiqueService.AddOrUpdateFsHuileThermiqueForm.controls.pressionEntreePrimaireHT.touched || fsHuileThermiqueService.AddOrUpdateFsHuileThermiqueForm.controls.pressionEntreePrimaireHT.errors?.min">
            </div>
          </div> 
         
          <div class="form-group ">
            <label>Pression sortie primaire :</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-tachometer-alt text-info"></i></span>
              </div>
              <input type="number" class="form-control" formControlName="pressionSortiePrimaireHT" placeholder="Pression sortie primaire" [class.is-invalid]="fsHuileThermiqueService.AddOrUpdateFsHuileThermiqueForm.controls.pressionSortiePrimaireHT.errors?.required &&
              fsHuileThermiqueService.AddOrUpdateFsHuileThermiqueForm.controls.pressionSortiePrimaireHT.touched || fsHuileThermiqueService.AddOrUpdateFsHuileThermiqueForm.controls.pressionSortiePrimaireHT.errors?.min">
            </div>
          </div> 

          <div class="form-group ">
            <div class="custom-control custom-checkbox">
              <input type="checkbox"  class="custom-control-input" id="customCheck1" (change)="OnCheck($event.target.checked)">
              <label class="custom-control-label" for="customCheck1">Différence de pression :</label>
            </div>
            <div class="input-group mt-2">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-tachometer-alt text-info"></i></span>
              </div>
              <input [attr.disabled]="DifferenceChecked == false ? true : null" type="number" class="form-control" formControlName="differentiellePressionHT" placeholder="ΔP" [class.is-invalid]="fsHuileThermiqueService.AddOrUpdateFsHuileThermiqueForm.controls.differentiellePressionHT.errors?.required &&
              fsHuileThermiqueService.AddOrUpdateFsHuileThermiqueForm.controls.differentiellePressionHT.touched || fsHuileThermiqueService.AddOrUpdateFsHuileThermiqueForm.controls.differentiellePressionHT.errors?.min">
            </div>
          </div> 



          <div class="form-group">
            <label>Commentaire :</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="far fa-comment-alt text-info"></i></span>
              </div>
              <textarea rows="1" type="text" class="form-control" formControlName="commentaire"
                placeholder="commentaire" [class.is-invalid]="fsHuileThermiqueService.AddOrUpdateFsHuileThermiqueForm.controls.commentaire.errors?.required &&
                fsHuileThermiqueService.AddOrUpdateFsHuileThermiqueForm.controls.commentaire.touched">
              
              </textarea>
            </div>
          </div>
        </div>
      </div>
      <i class="text-success"> NB: - Cochez la case du champs index si le compteur est remis à 0 <br>
        &nbsp; &nbsp; &nbsp;   - Désactivez le champs index en cas d'abscence du compteur</i>
    </form>

  </div>
</div>
<div class="modal-footer">
  <p class="mr-auto ml-3"
  style="color:red"
  *ngIf="
  fsHuileThermiqueService.AddOrUpdateFsHuileThermiqueForm.controls.productionUsine.errors?.min ||  fsHuileThermiqueService.AddOrUpdateFsHuileThermiqueForm.controls.indexCombustibleHT.errors?.min ||
  fsHuileThermiqueService.AddOrUpdateFsHuileThermiqueForm.controls.pressionEntreePrimaireHT.errors?.min || fsHuileThermiqueService.AddOrUpdateFsHuileThermiqueForm.controls.pressionSortiePrimaireHT.errors?.min"
>
Champs n'accepte pas une valeur négative
</p>
  <button type="button" class=" btn btn-info col-2 mr-2 " (click)="onSubmit()" [disabled]="fsHuileThermiqueService.AddOrUpdateFsHuileThermiqueForm.invalid"><i class="fas fa-check"></i>
    Valider</button>
</div>