<!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-white navbar-light header-shadow position-static">
    <!-- Left navbar links -->


    <div class="navbar-nav col-3 ">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
        </li>
    </div>


    <!-- <div class="app-header-left col-md-6 m-auto" style="font-size: 120%;">
      Bienvenue &nbsp; <b>Mourad </b>
    </div>
    <div class="col-md-6 m-auto" style="font-size: 120%;">
        Application: &nbsp;  <b style="color: #043b73;">Cferie</b>
    </div> -->

    <!-- <div class="app-header-right">
     
    </div> -->

    <!-- SEARCH FORM -->


    <div class="list-group list-group-horizontal " style="margin-left: 160px;margin-right: auto;">

        <li class="list-group-item border-0 m-auto" style="font-size: 120%;">Application: &nbsp; <b style="color: #043b73;">Chaufferie</b></li>

    </div>
    <button type="button" class="btn btn-danger btn-circle btn-sm" tooltip="Se déconnecter" placement="bottom" style="margin-right: 50px;">
        <i class=" fas fa-sign-out-alt text-gray-light "></i>
    </button>
</nav>

<!-- /.navbar -->