<div class="content-wrapper" style="min-height: 1200.88px;">
  <!-- <form [formGroup]="SearchForm">
    <div class="form-group  col-3 ml-5">
      <label class="mt-3">Date de saisie :</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="far fa-calendar-alt text-info"></i></span>
        </div>
        <input type="month" class="form-control"  (change)="SelectMois()"
          formControlName="dateSaisie" >
      </div>
    </div>
  </form> -->
  <!-- Content Header (Page header) -->
  <section class="content-header ">
    <div class="container-fluid ">
      <div class=" mb-2  ">
        <div class="card " style="background-color:rgb(13, 184, 214); height: 55px;">
          <div class="card-header">
            <small>

            </small>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <small>
    <!-- Main content -->
    <section class="content">
      <h6 class="text-secondary ml-5"><i class="far fa-clipboard text-dark text-lg"></i> Fiche de suivi journalier :
        <strong class="text-dark">Chaudiére à eau chaude</strong></h6>
      <div class="card">

        <div class="card-body">
          <div class="row">
            <div class="col-4 ">
              <button type="button" class="btn  mb-2 text-white" (click)="openComponentForPost()"
                style="background-color:rgb(13, 184, 214); "> <i class="fas fa-plus-circle "></i> Ajouter</button>
            </div>
            <div class="col-4">
              <form [formGroup]="fsEauChaudeService.DateForm">
                <div class="input-group">
                  <div>
                    <i class="far fa-calendar-alt text-info  mt-3 mr-2 text-lg"></i>
                  </div>
                  <mat-form-field>
                    <input formControlName="dateSaisie" type="month" matInput style="font-size: 16px;" class="text-center"
                      [value]="fsEauChaudeService.DateForm.controls.dateSaisie.value" (change)="GetListFsEauChaudeByDate()" />
                  </mat-form-field>
                </div>
                <!-- <div class="form-group col-8 ">

                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="far fa-calendar-alt text-info"></i></span>
                    </div>
                    <input type="month" class="form-control" (change)="GetListFsEauChaudeByDate()" formControlName="dateSaisie">
                  </div>
                </div> -->
              </form>
            </div>
            <div class="col-4 ">
              <form [formGroup]="SearchByFilialeForm">
                <div class="input-group">
                  <div>
                    <i class="fas fa-list-ol text-info  mt-3 mr-2 text-lg"></i>
                  </div>
                  <mat-form-field>
                    <mat-label>Filiale</mat-label>
                    <input type="text"  matInput  formControlName="filiale" list="data.list" >
                    <datalist id="data.list">
                      <select class="form-control" >
                        <option
                          *ngFor="let subsidiary of subsidiaryService.ListSubsidiaries"
                         [value]="subsidiary.label" 
                        >
                        </option>
                      </select>
                    </datalist>
                  </mat-form-field>
                </div>
                
                <!-- <div class="form-group col-8 " style="float:right;">

                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-list-ol text-info"></i></span>
                    </div>
                    <input type="text" formControlName="filiale" class="form-control"  list="data.list" formControlName="dateSaisie">
                    <datalist id="data.list">
                      <select class="form-control" >
                        <option
                          *ngFor="let subsidiary of subsidiaryService.ListSubsidiaries"
                         [value]="subsidiary.label" 
                        >
                        </option>
                      </select>
                    </datalist>
                  </div>
                </div> -->
              </form>
            </div>
          </div>
          <table class="table table-bordered table-responsive table-hover text-center">
            <thead>
              <tr>
                <th class="align-middle table-secondary table-border" colspan="3"></th>
                <th class="align-middle table-secondary table-border"colspan="2">Index de consommation</th>
                <th class="align-middle table-secondary table-border" colspan="10">Indicateur chaudiére</th>
                <th class="align-middle table-secondary table-border" colspan="2">Qualité eau brute</th>
                <th class="align-middle table-secondary table-border" colspan="2"></th>
              </tr>
              <tr>
                <th class="align-middle table-info table-border">Date de saisie</th>
                <th class="align-middle table-info table-border">Chaudière en marche</th>
                <th class="align-middle table-info table-border">Production filiale</th>
                <th class="align-middle table-info table-border">Combustible</th>
                <th class="align-middle table-info table-border">Type combustible</th>
                <th class="align-middle table-info table-border">TH (°F)</th>
                <th class="align-middle table-info table-border">PH</th>
                <th class="align-middle table-info table-border">Température de fumée (°C)</th>
                <th class="align-middle table-info table-border">Température de consigne brûleur (°C)</th>
                <th class="align-middle table-info table-border">Pression départ (bar)</th>
                <th class="align-middle table-info table-border">Pression retour (bar)</th>
                <th class="align-middle table-info table-border">ΔP (bar)</th>
                <th class="align-middle table-info table-border">Température de départ (°C)</th>
                <th class="align-middle table-info table-border">Température de retour (°C)</th>
                <th class="align-middle table-info table-border">ΔT (°C)</th>
                <th class="align-middle table-info table-border">TH</th>
                <th class="align-middle table-info table-border">PH</th>
                <th class="align-middle table-info table-border">Commentaire</th>
                <th class="align-middle table-info table-border">Action(s)</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="
                let g of fsEauChaudeService.ListFsEauChaude | filterFS : SearchByFilialeForm.value | paginate
                : {
                    id: 'EauChaudePagination',
                    itemsPerPage: 5,
                    currentPage: p
                  }" class="sizeText">
                <td class="align-middle table-border">{{g.dateSaisie | date: "dd/MM/yyyy"}}</td>
                <td class="align-middle table-border ">{{g.marqueCorpsDeChauffe}} {{g.numero}}</td>
                <td class="align-middle table-border">{{g.productionUsine}} {{g.unite}}</td>
                <td class="align-middle table-border">
                  <span class="text-danger" *ngIf="g.indexCombustible == null"><i class="text-bold" style="font-size: 13px;">Abscence compteur</i></span>
                  <span *ngIf="g.indexCombustible != null">{{g.indexCombustible}}</span>
                </td>
                <td class="align-middle table-border" > 
                  <span *ngIf="g.typeCombustible == 0">Gaz </span>
                  <span *ngIf="g.typeCombustible == 1">Fuel </span>
                  <span *ngIf="g.typeCombustible == 2">Gasoil </span>
                  <span *ngIf="g.typeCombustible == 3">AirChaud </span>
                  <span *ngIf="g.uniteCombustible == 0">(m3)</span>
                  <span *ngIf="g.uniteCombustible == 1">(Nm3)</span>
                  <span *ngIf="g.uniteCombustible == 2">(kg)</span>
                </td>

                <td class="align-middle table-border" style="font-size: 18px;"><span
                    [className]=" g.th >= 10  ? 'badge badge-pill badge-danger'  : 'badge badge-pill badge-success'">{{g.th}}
                  </span></td>
                <td class="align-middle table-border" style="font-size: 18px;"><span
                    [className]=" g.ph < 8 || g.ph > 9.5  ? 'badge badge-pill badge-danger'  : 'badge badge-pill badge-success'">{{g.ph}}
                  </span></td>

                <td class="align-middle table-border">{{g.temperatureFumee}}</td>
                <td class="align-middle table-border">{{g.temperatureConsigneBrulure}}</td>
                <td class="align-middle table-border">{{g.pressionDepart}}</td>
                <td class="align-middle table-border">{{g.pressionRetour}}</td>
                <td class="align-middle table-border" style="font-size: 18px;"><span
                    [className]=" g.differencePression >= 1  ? 'badge badge-pill badge-danger'  : 'badge badge-pill badge-success'">{{g.differencePression}}
                  </span></td>
                <td class="align-middle table-border">{{g.temperatureDepart}}</td>
                <td class="align-middle table-border">{{g.temperatureRetour}}</td>
                <td class="align-middle table-border" style="font-size: 18px;"><span
                    [className]=" g.differenceTemperature >= 10  ? 'badge badge-pill badge-danger'  : 'badge badge-pill badge-success'">{{g.differenceTemperature}}
                  </span></td>
                <td class="align-middle table-border">{{g.tH_EauBrute}}</td>
                <td class="align-middle table-border">{{g.pH_EauBrute}}</td>
                <td class="align-middle table-border">{{g.commentaire}}</td>
                <td class="align-middle">
                  <div class="row ">
                    <div class="col-6">
                      <button (click)="openComponentForUpdate(g)" class="btn-sm btn-info rounded mr-5 rounded"> <span
                          class="fas fa-wrench  text-white"></span></button>
                    </div>
                    <div class="col-6">
                      <button (click)="OnDelete(g.ficheSuiviId)" class="btn-sm btn-danger rounded"><span
                          class="fas fa-trash-alt  text-white"></span> </button>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-3" style="float:left !important"> </div>

        <pagination-controls id="EauChaudePagination" class="my-pagination" (pageChange)="p = $event"
          previousLabel="Prec " nextLabel="Suiv ">
        </pagination-controls>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </section>
  </small>

</div>
